
.image-cont img{
    width: 100%;
    @media(min-width:375px) {
        display: none;
    }
}
.desktop-img-cont {
    display: none;
    @media(min-width:375px) {
        display: block;
        background-image: url('../assets/images/background-pattern-desktop.svg');
        height: 220px;
        width: 100%;
    }
}
body{
    background-color: hsl(275, 100%, 97%);
    position: relative;
    height: 50%;
}