header {
    background-image: url("/assets/images/background-pattern-mobile.svg");
    height: 150px;
    @media(min-width: 370px){
        height: 300px;
    }
    @media(min-width: 1000px){
        background-image: url("/assets/images/background-pattern-desktop.svg");
    }
}
body{
    background-color: hsl(275, 100%, 97%);
    position: relative;
}