
main{
    padding: 1em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border: solid 1px black ;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    max-width: 500px;
    #faq-container{
        display: flex;
        align-items: center;
        svg{
            margin-right: 1.5em;
        }
    }
    #svg-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        h2{
            width: 80%;
            &:hover{
                color:purple;
            }
        }
        // svg:focus-visible{
        //     outline: red;
        // }

    }   
    .svg{
        display: none;
    }
    .content{
        display: none;
        p {
            border-bottom: solid 1px lightgray;
            padding-bottom: 1.5em;
        }
        
    }
    #content-four p {
        border-bottom: none;
    }
    .content-display{
        display: block;
        padding-bottom: 5px;
        color: hsl(292, 16%, 49%);
    }
}