main{
    padding: 2em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border: solid 1px black ;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    #faq-container{
        display: flex;
        align-items: center;
        svg{
            margin-right: 1.5em;
        }
    }
    #svg-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        width: 80%;
    }
}